<!-- Footer -->
<footer class="bg-gradient-to-b from-gray-900 via-gray-800 to-gray-900 text-white mt-16 py-12 w-full">
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
            <div
                class="transform hover:scale-105 transition-transform duration-300 border-2 border-red-600 rounded-md p-4">
                <h4 class="text-xl font-bold mb-6 pb-2 inline-block border-b-2 border-red-600">Liên Hệ</h4>
                <div class="space-y-4">
                    <p class="flex items-center">
                        <i class="far fa-envelope mr-3 text-emerald-400"></i>
                        <span class="border border-red-600 rounded-md px-1">
                            110122115@st.tvu.edu.vn
                        </span>
                    </p>
                    <p class="flex items-center">
                        <i class="fas fa-phone-alt mr-3 text-emerald-400"></i>
                        <span class="border border-red-600 rounded-md px-1">
                            0366058110
                        </span>
                    </p>
                </div>
            </div>

            <div
                class="transform hover:scale-105 transition-transform duration-300 border-2 border-red-600 rounded-md p-4">
                <h4 class="text-xl font-bold mb-6 pb-2 inline-block border-b-2 border-red-600">Theo Dõi Chúng Tôi</h4>
                <div class="flex space-x-6">
                    <a href="https://www.facebook.com/TraVinhUniversity.TVU?mibextid=JRoKGi" target="_blank"
                        class="text-gray-300 hover:text-blue-500 transition-colors duration-300">
                        <i class="fab fa-facebook-square text-3xl"></i>
                    </a>
                    <a href="https://www.instagram.com/explore/locations/1017118742/truong-ai-hoc-tra-vinh/"
                        target="_blank" class="text-gray-300 hover:text-pink-500 transition-colors duration-300">
                        <i class="fab fa-instagram text-3xl"></i>
                    </a>
                    <a href="https://youtube.com/@aihoctravinhtvu?si=Mky1izWZ7pXRA9Hs" target="_blank"
                        class="text-gray-300 hover:text-red-500 transition-colors duration-300">
                        <i class="fab fa-youtube text-3xl"></i>
                    </a>
                </div>
            </div>
            <div
                class="transform hover:scale-105 transition-transform duration-300 border-2 border-red-600 rounded-md p-4">
                <h4 class="text-xl font-bold mb-6 pb-2 inline-block border-b-2 border-red-600">
                    Địa Chỉ
                </h4>
                <p class="flex items-center">
                    <i class="fas fa-map-marker-alt mr-3 text-emerald-400"></i>
                    <span class="border border-red-600 rounded-md px-1">
                        ấp Trà Sất C, Long Hiệp, Trà Cú, Trà Vinh
                    </span>
                </p>
            </div>
        </div>

        <div class="mt-12 pt-8 border-t border-gray-700 text-2xl">
            <p class="text-gray-400">&copy; 2024 Di Tích Trà Vinh. Tất cả quyền được bảo lưu.</p>
        </div>
    </div>
</footer>